# Semana eda

## Análise exploratoria de dados

- Uma escola necessita trabalhar com filmes em seu planejamento pedagógico. 
- Precisa visualizar as notas de diversos filmes em suas diversas categorias.
- Os filmes devem atravessar gerações. A escola trabalha desde a creche até ao nível superior.

In [3]:
import pandas as pd

In [4]:
url = "dataset/movies.csv"
url2 = "dataset/ratings.csv" 
pd.read_csv(url)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
dados= pd.read_csv(url)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
dados2= pd.read_csv(url2)
dados2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [17]:
url = "dataset/movies.csv"
url2 = "dataset/ratings.csv" 
dados= pd.read_csv(url)
dados2= pd.read_csv(url2)
common_ids = dados['movieId'].tolist()  
filtered_dados2 = dados2[dados2['movieId'].isin(common_ids)]

print(filtered_dados2)

                                 title
0                     Toy Story (1995)
1              Grumpier Old Men (1995)
2                          Heat (1995)
3          Seven (a.k.a. Se7en) (1995)
4           Usual Suspects, The (1995)
...                                ...
100831                    Split (2017)
100832   John Wick: Chapter Two (2017)
100833                  Get Out (2017)
100834                    Logan (2017)
100835  The Fate of the Furious (2017)

[100836 rows x 1 columns]